/dist/
/megrim.egg-info/
/.idea/
/build/

.spyproject/config/workspace.ini

.spyproject/config/vcs.ini

.spyproject/config/encoding.ini

.spyproject/config/defaults/

.spyproject/config/

node_modules/font-awesome/

package-lock.json

megrim/TestingScript.py

megrim/x.png

megrim/__pycache__/basic_qc.cpython-37.pyc

megrim/__pycache__/infographic_plots.cpython-37.pyc

megrim/plot.png

megrim/plot2.png

megrim/plot3.png

megrim/plot4.png

megrim/plot5.png

megrim/plot6.png

megrim/plot7.png

megrim/plot8.png

megrim/plot9.png

megrim/__pycache__/

megrim/Tutorials/basic_qc/.ipynb_checkpoints/

megrim/Tutorials/basic_qc/basic_qc_tutorial.html

.ipynb_checkpoints/

src/
