/dist/
/megrim.egg-info/
/.idea/
/build/

.spyproject/config/workspace.ini

.spyproject/config/vcs.ini

.spyproject/config/encoding.ini

.spyproject/config/defaults/

.spyproject/config/

node_modules/font-awesome/

package-lock.json

megrim/TestingScript.py

megrim/x.png

megrim/__pycache__/basic_qc.cpython-37.pyc

megrim/__pycache__/infographic_plots.cpython-37.pyc

megrim/plot.png
